<div style="display: flex; background-color: RGB(255,114,0);" >
<h1 style="margin: auto; padding: 30px; ">ANALYSE DU STOCK ET DES VENTES</h1>
</div>

# OBJECTIF DE CE NOTEBOOK

Il s'agit d'un outil permettant de mixer et d'alterner codes, textes et graphique.


Pour vous aider dans vos premiers pas à l'usage de Jupyter et de Python, nous avons rédigé ce notebook en vous indiquant les instructions à suivre.

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.1 - Importation des librairies</h3>
</div>

In [622]:
#Importation de la librairie Pandas
import pandas as pd

In [623]:
#Importation de la librairie plotly express
import numpy as np

In [624]:
#privilégiez les solutions provenants de Stack Overflow ou Medium

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.2 - Chargements des fichiers</h3>
</div>

In [626]:
#Importation du fichier web.xlsx
df_web = pd.read_excel("Datagestionstock/web.xlsx")
#Importation du fichier erp.xlsx
df_erp = pd.read_excel('Datagestionstock/erp.xlsx')
#importation du fichier liaison.xlsx
df_eliaison = pd.read_excel('Datagestionstock/liaison.xlsx')

C:\anaconda\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\anaconda\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\anaconda\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse exploratoire du fichier erp.xlsx</h3>
</div>

In [629]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_erp.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_erp.shape[1]))

Le tableau comporte 825 observation(s) ou article(s)
Le tableau comporte 6 colonne(s)

In [630]:
#Consulter le nombre de colonnes
print("Le tableau comporte {} colonne(s)".format(df_erp.shape[1]))

#La nature des données dans chacune des colonnes
print("La nature des données :")
df_erp.info()
#Le nombre de valeurs présentes dans chacune des colonnes
valeurs = df_erp.count()
print("Le nombre de valeurs présentes dans chacune des colonnes :")
valeurs

Le tableau comporte 6 colonne(s)
La nature des données :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
 5   purchase_price  825 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 38.8+ KB
Le nombre de valeurs présentes dans chacune des colonnes :

product_id        825
onsale_web        825
price             825
stock_quantity    825
stock_status      825
purchase_price    825
dtype: int64

In [631]:
#Afficher les 5 premières lignes de la table
df_erp.head(5)

   product_id  onsale_web  price  stock_quantity stock_status  purchase_price
0        3847           1   24.2              16      instock           12.88
1        3849           1   34.3              10      instock           17.54
2        3850           1   20.8               0   outofstock           10.64
3        4032           1   14.1              26      instock            6.92
4        4039           1   46.0               3   outofstock           23.77

In [632]:
#Vérifier si il y a les lignes en doublons dans la colonne product_id
doublons = df_erp[df_erp.duplicated('product_id', keep=False)]
if not doublons.empty:
    print("Il y a des doublons.")
else:
    print("Il n'y a pas de doublons.")

Il n'y a pas de doublons.

In [633]:
#Afficher les valeurs distinctes de la colonne stock_status
valeurs_distinctes = df_erp['stock_status'].unique()
print("Les valeurs distinctes de la colonne 'stock_status' :")
print(valeurs_distinctes)
#À quelle(s) autre(s) colonne(s) sont-elles liées ?

Les valeurs distinctes de la colonne 'stock_status' :
['instock' 'outofstock']

In [634]:
#Création d'une colonne "stock_status_2
df_erp['stock_status_2'] = np.where(df_erp['stock_quantity'] > 0, 'instock', 'outofstock')



#La valeur de cette deuxième colonne sera fonction de la valeur dans la colonne "stock_quantity"
df_erp['stock_status_validation'] = np.where(df_erp['stock_status'] == df_erp['stock_status_2'], True, False)
df_erp


#si la valeur de la colonne "stock_quantity" est nulle renseigner "outofstock" sinon mettre "instock"

,product_id,onsale_web,price,stock_quantity,stock_status,purchase_price,stock_status_2,stock_status_validation
0,3847,1,24.2,16,instock,12.88,instock,True
1,3849,1,34.3,10,instock,17.54,instock,True
2,3850,1,20.8,0,outofstock,10.64,outofstock,True
3,4032,1,14.1,26,instock,6.92,instock,True
4,4039,1,46.0,3,outofstock,23.77,instock,False
...,...,...,...,...,...,...,...,...
820,7203,0,45.0,30,instock,23.48,instock,True
821,7204,0,45.0,9,instock,24.18,instock,True
822,7247,1,54.8,6,instock,27.18,instock,True
823,7329,0,26.5,14,instock,13.42,instock,True
824,7338,1,16.3,40,instock,8.00,instock,True

In [635]:
#Vérifions que les 2 colonnes sont identiques:
#Les 2 colonnes sont strictement identiques si les valeurs de chaque ligne sont strictement identiques 2 à 2
#La comparaison de 2 colonnes peut se réaliser simplement avec l'instruction ci-dessous:
df_erp["stock_status"] == df_erp["stock_status_2"]
false_validations = df_erp[df_erp['stock_status_validation'] == False]

false_validations
#Le résultat est l'affichage de True ou False pour chacune des lignes du dataset
#C'est un bon début, mais difficile à exploiter

,product_id,onsale_web,price,stock_quantity,stock_status,purchase_price,stock_status_2,stock_status_validation
4,4039,1,46.0,3,outofstock,23.77,instock,False
398,4885,1,18.7,0,instock,9.66,outofstock,False

In [636]:
#Mais il est possible de synthétiser ce résultat en effectuant la somme de cette colonne:
#True vaut 1 et False 0
#Nous devrions obtenir la somme de 824 qui correspond au nombre de lignes dans ce dataset
df_erp["stock_status_validation_numbers"] = np.where(df_erp['stock_status_validation'], 1, 0)

someOfStockValidation = df_erp["stock_status_validation_numbers"].sum()
print("The total number of validated stock statuses is:", someOfStockValidation)

The total number of validated stock statuses is: 823

In [637]:
#Si les colonnes ne sont absolument pas identiques ligne à ligne alors identifier la ligne en écart
##Dans ce cas je vous ce lien pour apprendre à réaliser des filtres dans Pandas:
##https://bitbucket.org/hrojas/learn-pandas/src/master/
##Lesson 3

In [638]:
#Corriger la ou les données incohérentes
df_erp["stock_status"] =   df_erp["stock_status_2"]

#Verification en utilisant le même code que plus haut pour afficher les problemes
df_erp["stock_status"] == df_erp["stock_status_2"]

0      True
1      True
2      True
3      True
4      True
       ...
820    True
821    True
822    True
823    True
824    True
Length: 825, dtype: bool

In [639]:
if 'stock_status_validation' in df_erp.columns:
    df_erp.drop(columns=['stock_status_validation'], inplace=True)
if 'stock_status_validation_numbers' in df_erp.columns:
    df_erp.drop(columns=['stock_status_validation_numbers'], inplace=True)
if 'stock_status_2' in df_erp.columns:
    df_erp.drop(columns=['stock_status_2'], inplace=True)
if 'new_stock_status' in df_erp.columns:
    df_erp.drop(columns=['new_stock_status'], inplace=True)
df_erp

,product_id,onsale_web,price,stock_quantity,stock_status,purchase_price
0,3847,1,24.2,16,instock,12.88
1,3849,1,34.3,10,instock,17.54
2,3850,1,20.8,0,outofstock,10.64
3,4032,1,14.1,26,instock,6.92
4,4039,1,46.0,3,instock,23.77
...,...,...,...,...,...,...
820,7203,0,45.0,30,instock,23.48
821,7204,0,45.0,9,instock,24.18
822,7247,1,54.8,6,instock,27.18
823,7329,0,26.5,14,instock,13.42
824,7338,1,16.3,40,instock,8.00

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.1 - Analyse exploratoire de chaque variable du fichier erp.xlsx</h3>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.1.1 - Analyse de la variable PRIX</h3>
</div>

In [664]:
###############
## LES PRIX  ##
###############

#Vérification des prix: Y a t-il des prix non renseignés, négatif ou nul?

print("Nombre d'articles avec un prix non renseigné: {}, négatif: {}, nul: {}".format(
    df_erp['price'].isnull().sum(),
    (df_erp['price'] < 0).sum(),
    (df_erp['price'] == 0).sum()
))
#Afficher le ou les prix non renseignés dans la colonne "price"
print("Nombres d'article avec un prix non renseignés: {}".format(df_erp['price'].sum())) #Saisir l'instruction manquante dans la fonction format
#Afficher le prix minimum de la colonne "price"
print("Prix minimum (excluant les valeurs nulles):", df_erp['price'].min(skipna=True))

#Afficher le prix maximum de la colonne "price"
print("Prix minimum (excluant les valeurs nulles):", df_erp['price'].max(skipna=True))
#Affichier les prix inférieurs à 0 (qu'est ce qu'il faut en faire ?)
negative_prices = df_erp[df_erp['price'] < 0]
print("Produits avec un prix négatif:\n", negative_prices["price"])

# i  need to  correct  those foult  so  i  should to change  the price   as  we know there  is relation bettwen the  price and  the porchase_price
# wich  is the porchase_price *  2 is the  allmost  the  some with price so  i will change it  to  the real  one  

def adjust_price(row):
    if row['price'] < 0:
        return row['purchase_price'] * 2
    return row['price']

# Appliquer la fonction pour corriger les prix
df_erp['price'] = df_erp.apply(adjust_price, axis=1)

# Afficher le DataFrame après correction
print("\nDataFrame après correction des prix:\n", df_erp)
print("Nombre d'articles avec un prix non renseigné: {}, négatif: {}, nul: {}".format(
    df_erp['price'].isnull().sum(),
    (df_erp['price'] < 0).sum(),
    (df_erp['price'] == 0).sum()
))

Nombre d'articles avec un prix non renseigné: 0, négatif: 0, nul: 0
Nombres d'article avec un prix non renseignés: 26630.510000000002
Prix minimum (excluant les valeurs nulles): 5.2
Prix minimum (excluant les valeurs nulles): 225.0
Produits avec un prix négatif:
 Series([], Name: price, dtype: float64)

DataFrame après correction des prix:
      product_id  onsale_web  price  stock_quantity stock_status  \
0          3847           1   24.2              16      instock
1          3849           1   34.3              10      instock
2          3850           1   20.8               0   outofstock
3          4032           1   14.1              26      instock
4          4039           1   46.0               3      instock
..          ...         ...    ...             ...          ...
820        7203           0   45.0              30      instock
821        7204           0   45.0               9      instock
822        7247           1   54.8               6      instock
823        7329           0   26.5              14      instock
824        7338           1   16.3              40      instock

     purchase_price
0             12.88
1             17.54
2             10.64
3              6.92
4             23.77
..              ...
820           23.48
821           24.18
822           27.18
823           13.42
824            8.00

[825 rows x 6 columns]
Nombre d'articles avec un prix non renseigné: 0, négatif: 0, nul: 0

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.1.2 - Analyse de la variable STOCK</h3>
</div>

In [490]:
#######################
### stock_quantity  ###
#######################

#Vérification de la colonne stock quantity
#Afficher la quantité minimum de la colonne "stock_quantity"
print("Quantité minimum:", df_erp['stock_quantity'].min())


#Afficher la quantité maximum de la colonne "stock_quantity"
print("Quantité maximum:", df_erp['stock_quantity'].max())

#Affichier les stocks inférieurs à 0 (qu'est ce qu'il faut en faire ?)
negative_stock = df_erp[df_erp['stock_quantity'] < 0]
print("Produits avec un stock négatif:\n", negative_stock['stock_quantity'])

Quantité minimum: -10
Quantité maximum: 145
Produits avec un stock négatif:
 449   -10
573    -1
Name: stock_quantity, dtype: int64

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.1.3 - Analyse de la variable ONSALE_WEB</h3>
</div>

In [492]:
#Vérification de la colonne onsale_web et des valeurs qu'elle contient? Que signifient-elles?
print("Valeurs uniques dans la colonne onsale_web:", df_erp['onsale_web'].unique())

Valeurs uniques dans la colonne onsale_web: [1 0]

In [493]:
#Quelles sont les colonnes à conserver selon vous?
###### i think  we  should to  keep the column  that  have  1

In [494]:
#Supprimer la colonnecomportant le libellé "stock_status_2" car elle est redondante 
#avec la colonne "stock_status".

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.1.4 - Analyse de la variable prix d'achat</h3>
</div>

In [496]:
######################
##   prix d'achat   ##
######################

#Vérification de la colonne purchase_price : 
#Afficher le ou les prix non renseignés dans la colonne "purchase_price"
print("Nombre d'articles avec un prix non renseigné dans purchase_price:", df_erp['purchase_price'].isnull().sum())

# Afficher le prix minimum de la colonne "purchase_price"
print("Prix minimum dans purchase_price:", df_erp['purchase_price'].min())

# Afficher le prix maximum de la colonne "purchase_price"
print("Prix maximum dans purchase_price:", df_erp['purchase_price'].max())

Nombre d'articles avec un prix non renseigné dans purchase_price: 0
Prix minimum dans purchase_price: 2.74
Prix maximum dans purchase_price: 137.81

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.2 - Analyse exploratoire du fichier web.xlsx</h3>
</div>

In [498]:
#Dimension du dataset
#Nombre d'observations
print("Nombre d'observations :", n_observations)
#Nombre de caractéristiques

print("Nombre de caractéristiques :", n_caracteristiques)

In [666]:
# Consulter le nombre de colonnes
nombre_de_colonnes = df_web.shape[1]  # ou len(df_erp.columns)
print("Nombre de colonnes :", nombre_de_colonnes)

# La nature des données dans chacune des colonnes
nature_des_donnees = df_web.dtypes
print("\nNature des données dans chaque colonne :\n", nature_des_donnees)

# Le nombre de valeurs présentes dans chacune des colonnes
nombre_de_valeurs = df_web.count()
print("\nNombre de valeurs présentes dans chaque colonne :\n", nombre_de_valeurs)

Nombre de colonnes : 29

Nature des données dans chaque colonne :
 sku                              object
virtual                           int64
downloadable                      int64
rating_count                      int64
average_rating                  float64
total_sales                     float64
tax_status                       object
tax_class                       float64
post_author                     float64
post_date                datetime64[ns]
post_date_gmt            datetime64[ns]
post_content                    float64
product_type                     object
post_title                       object
post_excerpt                     object
post_status                      object
comment_status                   object
ping_status                      object
post_password                   float64
post_name                        object
post_modified            datetime64[ns]
post_modified_gmt        datetime64[ns]
post_content_filtered           float64
post_parent                     float64
guid                             object
menu_order                      float64
post_type                        object
post_mime_type                   object
comment_count                   float64
dtype: object

Nombre de valeurs présentes dans chaque colonne :
 sku                      1428
virtual                  1513
downloadable             1513
rating_count             1513
average_rating           1430
total_sales              1430
tax_status                716
tax_class                   0
post_author              1430
post_date                1430
post_date_gmt            1430
post_content                0
product_type             1429
post_title               1430
post_excerpt              716
post_status              1430
comment_status           1430
ping_status              1430
post_password               0
post_name                1430
post_modified            1430
post_modified_gmt        1430
post_content_filtered       0
post_parent              1430
guid                     1430
menu_order               1430
post_type                1430
post_mime_type            714
comment_count            1430
dtype: int64

In [500]:
#Selon vous, quelles sont les colonnes à conserver ?
we  should remove  the colonne that have 0 in Nombre de valeurs présentes dans chaque colonne

In [670]:
#Si vous avez défini des colonnes à supprimer, effectuer l'opération
df_web_cleaned = df_web.dropna(df_web["tax_status" ,"post_content  "               ])

# Afficher le DataFrame après suppression
print("\nDataFrame après suppression des colonnes vides:\n", df_web_cleaned)

DataFrame après suppression des colonnes vides:
         sku  virtual  downloadable  rating_count  average_rating  total_sales  \
0     11862        0             0             0             0.0          3.0
1     16057        0             0             0             0.0          5.0
2     14692        0             0             0             0.0          5.0
3     16295        0             0             0             0.0         14.0
4     15328        0             0             0             0.0          2.0
...     ...      ...           ...           ...             ...          ...
1508  16326        0             0             0             0.0          5.0
1509  15662        0             0             0             0.0         15.0
1510  15329        0             0             0             0.0          3.0
1511  14827        0             0             0             0.0          7.0
1512  16004        0             0             0             0.0          5.0

     tax_status  post_author           post_date       post_date_gmt  ...  \
0           NaN          2.0 2018-02-12 13:46:23 2018-02-12 12:46:23  ...
1           NaN          2.0 2018-04-17 15:29:17 2018-04-17 13:29:17  ...
2       taxable          2.0 2019-03-19 10:06:47 2019-03-19 09:06:47  ...
3           NaN          2.0 2018-02-15 14:05:06 2018-02-15 13:05:06  ...
4       taxable          2.0 2019-03-27 18:05:09 2019-03-27 17:05:09  ...
...         ...          ...                 ...                 ...  ...
1508    taxable          2.0 2019-04-18 11:32:46 2019-04-18 09:32:46  ...
1509    taxable          2.0 2018-02-27 10:13:03 2018-02-27 09:13:03  ...
1510        NaN          2.0 2019-03-27 18:28:15 2019-03-27 17:28:15  ...
1511        NaN          2.0 2018-11-26 09:56:52 2018-11-26 08:56:52  ...
1512        NaN          2.0 2018-06-07 16:27:25 2018-06-07 14:27:25  ...

     ping_status                                          post_name  \
0         closed                        gilles-robin-hermitage-2012
1         closed        pelle-sancerre-rouge-la-croix-au-garde-2017
2         closed              fonreaud-bordeaux-blanc-le-cygne-2016
3         closed  moulin-de-gassac-igp-pays-dherault-guilhem-ros...
4         closed               agnes-levet-cote-rotie-maestria-2017
...          ...                                                ...
1508      closed       camin-larredya-jurancon-moelleux-capceu-2018
1509      closed  chermette-domaine-du-vissoux-beaujolais-griott...
1510      closed               agnes-levet-cote-rotie-peroline-2017
1511      closed  marc-colin-et-fils-chassagne-montrachet-blanc-...
1512      closed                    chateau-du-couvent-pomerol-2017

           post_modified   post_modified_gmt post_parent  \
0    2019-01-31 12:12:56 2019-01-31 11:12:56         0.0
1    2020-07-07 10:05:02 2020-07-07 08:05:02         0.0
2    2020-04-25 21:40:31 2020-04-25 19:40:31         0.0
3    2020-08-27 18:55:03 2020-08-27 16:55:03         0.0
4    2020-07-25 15:45:02 2020-07-25 13:45:02         0.0
...                  ...                 ...         ...
1508 2020-08-27 09:24:46 2020-08-27 07:24:46         0.0
1509 2020-07-11 11:25:03 2020-07-11 09:25:03         0.0
1510 2020-07-28 09:45:02 2020-07-28 07:45:02         0.0
1511 2020-07-28 09:45:02 2020-07-28 07:45:02         0.0
1512 2020-08-25 18:35:02 2020-08-25 16:35:02         0.0

                                                   guid menu_order  \
0     https://www.bottle-neck.fr/wp-content/uploads/...        0.0
1     https://www.bottle-neck.fr/wp-content/uploads/...        0.0
2     https://www.bottle-neck.fr/?post_type=product&...        0.0
3     https://www.bottle-neck.fr/wp-content/uploads/...        0.0
4     https://www.bottle-neck.fr/?post_type=product&...        0.0
...                                                 ...        ...
1508  https://www.bottle-neck.fr/?post_type=product&...        0.0
1509  https://www.bottle-neck.fr/?post_type=product&...        0.0
1510  https://www.bottle-neck.fr/wp-content/uploads/...        0.0
1511  https://www.bottle-neck.fr/wp-content/uploads/...        0.0
1512  https://www.bottle-neck.fr/wp-content/uploads/...        0.0

       post_type post_mime_type  comment_count
0     attachment     image/jpeg            0.0
1     attachment     image/jpeg            0.0
2        product            NaN            0.0
3     attachment     image/jpeg            0.0
4        product            NaN            0.0
...          ...            ...            ...
1508     product            NaN            0.0
1509     product            NaN            0.0
1510  attachment     image/jpeg            0.0
1511  attachment     image/jpeg            0.0
1512  attachment     image/jpeg            0.0

[1513 rows x 25 columns]

In [502]:
#Visualisation des valeurs de la colonne sku
#Quelles sont les valeurs qui ne semblent pas respecter la régle de codification?

In [503]:
#Si vous avez identifié des codes articles ne respectant pas la régle de codification, consultez-les?

In [504]:
#Identifier les lignes sans code articles

In [505]:
#Pour les codes articles identifiés, réalisé une analyse et définissez l'action à entreprendre

In [506]:
#La clé pour chaque ligne est-elle uniques? ou autrement dit, y a-t-il des doublons?

In [507]:
#Les lignes sans code article semble être toutes non renseignés
#Pour s'en assurer réaliser les étapes suivantes:
#1 - Créer un dataframe avec uniquement les lignes sans code article

#2 - utiliser la fonction df.info() sur ce nouveau dataframe pour observer le nombre de valeur reseigner dans chacune des colonnes

#3 - Que constatez-vous?

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.3 - Analyse exploratoire du fichier liaison.xlsx</h3>
</div>

In [509]:
#Dimension du dataset
#Nombre d'observations

#Nombre de caractéristiques

In [510]:
#Consulter le nombre de colonnes
#La nature des données dans chacune des colonnes
#Le nombre de valeurs présentes dans chacune des colonnes

In [511]:
#Les valeurs de la colonne "product_id" sont elles toutes uniques?

In [512]:
#Les valeurs de la colonne "id_web" sont-elles toutes uniques?

In [513]:
#Avons-nous des articles sans correspondances?

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 3 - Jonction des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 3.1 - Jonction du fichier df_erp et df_liaison</h3>
</div>

In [516]:
#Fusion des fichiers df_erp et df_liaison

In [517]:
#Y a t-il des lignes ne "matchant" entre les 2 fichiers?

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 3.2 - Jonction du fichier df_merge et df_web</h3>
</div>

In [519]:
#Fusionnez les datasets df_merge et df_web

In [520]:
#Avons-nous des lignes sans correspondances?

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 4 - Analyse univarié des prix</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 4.1 - Exploration par la visualisation de données</h3>
</div>

In [523]:
#Création d'une Boite à moustache de la répartition des prix grâce à Pandas

In [524]:
#Autre méthode avec plotly express

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 4.2 - Exploration par l'utisation de méthodes statistique</h3>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 4.2.1 - Identification par l'interval interquartile</h3>
</div>

In [527]:
#Utilisation de la fonction describe de Pandas pour l'etude des mesures de dispersions

In [528]:
#Définissez un seuil pour les articles "outliers" en prix

In [529]:
#Définissez le nombre d'articles et la proportion de l'ensemble du catalogue "outliers"

In [530]:
#Selon vous, ces outliers sont-ils justifiés ? Comment le démontrer si cela est possible ?

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 5 - Analyse univarié du CA, des quantités vendues, des stocks et de la marge ainsi qu'une analyse multivarié  </h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 5.1 - Analyse des ventes en CA</h3>
</div>

In [533]:
##############################
# Calculer le CA su site web #
##############################

#Créez une colonne calculant le CA par article

#Calculez la somme de la colonne "ca_par_article"
#Ce résultat correspond au chiffre d'affaire du site web

In [534]:
###############################
# Palmares des articles en CA #
###############################

#Effectuer le tri dans l'ordre décroissant du CA du dataset df_merge

#Réinitialiser l'index du dataset par un reset_index

#Afficher les 20 premier articles en CA

#Graphique en barre des 20 premiers articles avec plotly express

In [535]:
#############################
# Calculer le 20 / 80 en CA #
#############################

#Créer une colonne calculant la part du CA de la ligne dans le dataset

#Créer une colonne réalisant la somme cumulative de la colonne précedemment créée

#Grâce au deux colonnes créées précedemment, calculer le nombre d'articles représentant 80% du CA

#Afficher la proportion que représentent ce groupe d'articles dans le catalogue entier du site web

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 5.2 - Analyse des ventes en Quantités</h3>
</div>

In [537]:
#####################################
# Palmares des articles en quantité #
#####################################

#Effectuer le tri dans l'ordre décroissant de quantités vendues du dataset df_merge

#Réinitialiser l'index du dataset par un reset_index

#Afficher les 20 premier articles en quantité

#Graphique en barre des 20 premiers articles avec plotly express

In [538]:
#############################
# Calculer le 20 / 80 en CA #
#############################

#Créer une colonne calculant la part en quantité de la ligne dans le dataset

#Créer une colonne réalisant la somme cumulative de la colonne précedemment créée

#Grâce au deux colonnes créées précedemment, calculer le nombre d'articles représentant 80% des ventes en quantité

#Afficher la proportion que représentent ce groupe d'articles dans le catalogue entier du site web

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 5.3 - Analyse des stocks</h3>
</div>

In [540]:
######################################
# Calcule le nombre de mois de stock #
######################################

#Import de numpy 

#Création de la colonne Rotation de stock

#Remplacement des "inf" par 0

#Effectuer le tri dans l'ordre décroissant du nombre de mois de stock dans le dataset df_merge

#Graphique en barre du flop 20 des produits qui ont le plus de mois de stock

In [541]:
####################################
# Valorisation des stocks en euros #
####################################

#Création de la colonne Valorisation des stocks en euros

#Calculer la somme de la colonne "Valorisation_stock_euros"

In [542]:
##############################################
# Valorisation du nombre de produit en stock #
##############################################

#Calculer la somme de la colonne stock quantity

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 5.4 - Analyse du taux de marge</h3>
</div>

In [544]:
############################
# Analyse du taux de marge #
############################

#Création de la colonne prix HT

#Création de la colonne Taux de marge

#Afficher le prix minimum de la colonne "taux_marge"

#Afficher le prix maximum de la colonne "taux_marge"

In [545]:
#affichage de la ligne avec un taux de marge inférieur à 0

In [546]:
#création d'un dataframe avec les taux positifs

#Afficher le prix minimum de la colonne "taux_marge"

#Afficher le prix maximum de la colonne "taux_marge"

In [547]:
#création d'un dataframe avec le taux de marge moyen par type de produit

#Affichage dans un graphique du taux de marge par type de produit

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 5.5 - Analyse des correlations entre les variables stock, sales et price</h3>
</div>

In [549]:
############################
# Analyse des correlations #
############################

#Importation de Seaborn

#Création d'un heatmap de correlation avec les variables stock, sales et price
#on peut également créer un mask pour n'afficher qu'une demi heatmap

In [550]:
#Que peut-on conclure des correlations ?

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 5.6 - Mettre à disposition la nouvelle table sur un fichier Excel</h3>
</div>

In [552]:
#Mettre le dataset df_merge sur un fichier Excel
#Cette étape peut-être utile pour partager le résultat du dataset obtenu pour le partager avec les équipes.